// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome

* {
  font-family: $font-family-roboto;
}

html, body {
  height: 100%;
}

.product-title {
  font-family: Roboto;
  font-weight: 400;
}
