<template>
    <div>
        <h2 class="text-danger">{{countdown}}</h2>
    </div>
</template>

<script>
    export default {
        name: "AuctionTimer",
        props: ['expiredAt'],
        data() {
            return {
                remaining_seconds: "",
                expired_at: 1000000
            }
        },
        mounted() {

            this.$store.commit('update_auction_expiry',{expired_at: this.expiredAt});

            setInterval(() => {

                let current_time = new Date();
                let event_time = Date.parse(this.$store.getters.get_auction_expiry);

                let seconds = Math.floor((event_time - (current_time))/1000);
                let minutes = Math.floor(seconds/60);
                let hours = Math.floor(minutes/60);
                let days = Math.floor(hours/24);

                hours = hours-(days*24);
                minutes = minutes-(days*24*60)-(hours*60);
                let _seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60);


                if (seconds > -10 && seconds < 1) {
                    this.remaining_seconds = "GOING ONCE";
                }
                else if (seconds > -20 && seconds < -9) {
                    this.remaining_seconds = "GOING TWICE";
                }
                else if (seconds  < -19) {
                    this.remaining_seconds = "SOLD!";
                }else {
                    if(_seconds < 11)
                        this.remaining_seconds = _seconds + "s";
                    else
                        this.remaining_seconds = hours + "h:" + minutes + "m:" + _seconds + "s";
                }

            }, 1000);

        },
        methods: {

        },
        computed: {
            countdown: function() {
                return this.remaining_seconds;
            }
        }
    }
</script>

<style scoped>

</style>
