<template>
    <div>
        <div class="card-body">
            <div class="text-center">
                <item-price v-bind:price="item_price"></item-price>
                <h6>Retail Price <span class="strikethrough">${{this.retail_price}}</span></h6>
                <auction-timer :expired-at="expired_at"></auction-timer>
            </div>
            <button @click="place_bid(auctionId)" class="btn btn-lg btn-primary col-12">BID</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Bid",
        props: ['auctionId','auctionData'],
        data() {
            return {
                current_bid: 0,
                expiry: '',
                retail_price: 0
            }
        },
        beforeMount() {
            let auction_data = JSON.parse(this.auctionData);
            this.current_bid = auction_data.current_bid;
            this.expiry = auction_data.expired_at;
            this.listen(this.auctionId);

            this.$store.commit('update_last_bidder', { user: {
                    id: auction_data.user.id,
                    name: auction_data.user.first_name,
                    avatar_url: auction_data.user.avatar.url
                }});
        },
        methods: {
            place_bid: function(auctionId) {

                let api = '/api/gigs/'+ auctionId +'/bids';

                axios.post(api)
                    .then(({data}) => {
                        this.$store.commit({
                            type:'bid_points_decrement',
                            amount: 1
                        })
                    });

            },
            listen: function(auction_id) {

                let channel = 'auction-' + auction_id;

                Echo.channel(channel)
                    .listen('BidEvent', ({data}) => {

                        this.$store.commit({
                            type:'place_bid',
                            amount: (data.bid.current_bid / 100)
                        });

                        this.$store.commit({
                            type:'update_last_bidder',
                            user: data.user
                        })

                        this.$store.commit({
                            type:'update_auction_expiry',
                            expired_at: data.gig.expired_at
                        })

                    });
            }
        },
        computed: {
            item_price() {
                return (this.current_bid / 100);
            },
            expired_at() {
                return this.expiry;
            },
            item_retail_price() {
                return this.retail_price;
            }
        }
    }
</script>
