<template>
    <div>
        <h1><strong class="text-success">US ${{get_item_price}}</strong></h1>
    </div>
</template>

<script>
    export default {
        name: "ItemPrice",
        props: ['price'],
        mounted() {
            this.init_item_price(this.price);
        },
        methods: {
          init_item_price: function (price) {
              setTimeout(() => {
                  let price = parseFloat(this.price)
                  this.$store.commit({
                      type: 'update_item_price',
                      amount: price
                  });
              }, 1000);
          }
        },
        computed: {
            get_item_price() {
                return this.$store.getters.get_item_price;
            }
        }
    }
</script>

<style scoped>

</style>
