<template>
    <div>
        <h6>Retail Price <span class="strikethrough">${{get_item_retail_price}}</span></h6>
    </div>
</template>

<script>
    export default {
        name: "ItemRetailPrice",
        computed: {
            get_item_retail_price() {
                return this.$store.getters.get_item_retail_price;
            }
        }
    }
</script>

<style scoped>

</style>
