<template>
    <div class="media mb-4">
        <img :src="get_last_bidder.avatar_url" class="img-thumbnail rounded-circle mr-3" :alt="get_last_bidder.name" style="height:46px;width:46px;">
        <div class="media-body">
            <h5 class="mt-0">{{get_last_bidder.name}}</h5>
            Last Bidder
        </div>
    </div>
</template>

<script>
    export default {
        name: "LastBidder",
        computed: {
            get_last_bidder: function() {
                return this.$store.getters.get_last_bidder;
            }
        }
    }
</script>
