<template>
    <div>
        {{ get_bid_points }}
    </div>
</template>

<script>
    export default {
        name: "Points",
        computed: {
            get_bid_points() {
                return this.$store.getters.get_bid_points
            }
        }
    }
</script>
