<template>
    <div class="AuctionEcho"></div>
</template>

<script>
    export default {
        name: "AuctionEcho",
        mounted() {
            Echo.channel('online')
                .listen('BidEvent', (e) => {
                    console.log(e);
                });
        }
    }
</script>
