<template>
    <div>
        <form @submit.prevent="submit_form">
            <div class="form-group">
                <label for="title">Title</label>
                <input v-model="form.title" type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="short_description">Short Description</label>
                <textarea v-model="form.short_description" id="short_description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea v-model="form.content" rows="7" id="content" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input v-model="form.brand" type="text" class="form-control" id="brand">
            </div>
            <div class="form-group">
                <label for="material">Material</label>
                <input v-model="form.material" type="text" class="form-control" id="material">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input v-model="form.price" type="text" class="form-control" id="price">
            </div>
            <div class="form-group">
                <label for="scheduled_at">Schedule</label>
                <input v-model="form.scheduled_at" type="datetime-local" class="form-control" id="scheduled_at">
                <small>When will the auction be ended.</small>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input v-model="form.tags" type="text" class="form-control" id="tags">
            </div>

            <div class="form-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="mb-3">Media Management</h5>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "CreateAuction",
        data() {
            return {
                form: new Form({
                    title: '',
                    short_description: '',
                    content: '',
                    brand: '',
                    material: '',
                    price: '',
                    scheduled_at: '',
                    tags: []
                })
            }
        },
        methods: {
            submit_form: function() {

                console.log(this.form);

            }
        }
    }
</script>

<style scoped>

</style>
